extends ./template/layout-default
include ./blocks/section
include ./blocks/paragraph
include ./blocks/presence
include ./blocks/modals/modal-login
include ./blocks/modals/modal-connect

block head
    - pageTitle = 'О сети';

block content
    +section({
        container: true,
        headline: {
            container: true,
            title:  'О сети'
        }
    })
        +paragraph({
            columns: [
                {
                    mod: 6,
                    text: '<p>MSK-IX ускоряет коммуникации между интернет-компаниями, ' +
                    'предоставляя нейтральную платформу Internet eXchange для обмена ' +
                    'IP-трафиком между сетями и&nbsp;глобальную распределенную сеть ' +
                    'DNS-серверов для поддержки корневых доменных зон.</p>'
                },
                {
                    mod: 6,
                    text: '<p>Более 500 организаций используют сервисы MSK-IX для развития ' +
                    'сетевого присутствия в&nbsp;10&nbsp;городах. К&nbsp;MSK-IX подключены ' +
                    'операторы связи, социальные сети, поисковые системы, видеопорталы, ' +
                    'провайдеры облачных сервисов, корпоративные и&nbsp;научно-образовательные сети.</p>'                }
            ]
        })

        +presence()
