.paragraph {
	display: flex
	justify-content: space-between
	margin: 0 -20px
	margin-bottom: 80px

	&_small-indent {
		margin-bottom: 64px
	}

	@media $tablet {
		margin-bottom: 64px
	}

	@media $phone {
		flex-direction: column
		margin-bottom: 56px
	}

	&:last-child {
		margin-bottom: 0
	}

	&__column {
		padding: 0 20px

		&_12 {
			padding: 0 20px
		}

		&_6 {
			width: 50%

			@media $phone {
				width: 100%
				margin-bottom: 32px

				&:last-child {
					margin-bottom: 0
				}
			}
		}
	}
}