.participant {

	@media $phone {
		margin-left: -20px
		margin-right: -20px
	}

	&__item {
		border-top: 1px solid rgba($neutralDarkColor,  .4)
		border-bottom: 1px solid rgba($neutralDarkColor,  .4)
	}

	&__item + &__item {
		border-top: none
	}
	   
	&__item-head {
		display: flex
		justify-content: space-between
		align-items: center
		position: relative
		cursor: pointer
		padding: 24px 0
		padding-right: 40px
		transition: background $duration

		@media $phone {
			flex-direction: column
			justify-content: flex-start
			padding: 16px 54px 19px 20px
		}
	}

	&__item-name {
		width: (730/1200) * 100 + '%'
		font-size: 36px
		line-height: (40/36)
		color: $brandColor
		font-weight: 700
		text-transform: uppercase

		@media $tablet {
			font-size: 28px
		}

		@media $phone {
			font-size: 24px
			width: 100%
			margin-bottom: 4px
		}
	}
	   
	&__item-info {
		display: flex
		flex-direction: column
		width: (264/1200) * 100 + '%'

		@media $phone {
			width: 100%
			flex-direction: row
			align-items: center
		}
	}

	&__caption {
		display: inline-block
		vertical-align: top
		color: $neutralDarkColor
		font-size: 16px
		line-height: 1

		@media $phone {
			font-size: 14px
		}
	}

	&__item-quantity {
		display: inline-block
		vertical-align: top
		font-weight: 700
		font-size: 24px
		line-height: 1


		@media $phone {
			order: -1
			margin-right: 8px
			font-size: 16px
			font-weight: 300
			color: $neutralDarkColor
		}
	}

	&__item-toggle {
		position: absolute
		right: -8px
		top: 50%
		margin-top: -20px

		@media $phone {
			right: 12px
		}
	}

	&__toggle-icon {
		position: relative
		cursor: pointer
		width: 40px
		height: 40px
		padding: 8px

		&:before,
		&:after{
			content: ''
			position: absolute;
			background-color: $neutralDarkColor
			transition: transform .4s, background-color $duration
		}

		&:before{
			top: 8px
			bottom: 8px
			left: 50%
			width: 2px
			margin-left: -1px
		}

		&:after {
			top: 50%
			left: 8px
			right: 8px
			height: 2px
			margin-top: -1px
		}

		&:hover {
			&:before,
			&:after {
				faster()
				background-color: darken($neutralDarkColor, 17%)
			}
		}

		^[0]__item-head_active & {
			&:before{
				transform: rotate(90deg)
			}

			&:after{
				transform: rotate(180deg)
			}
		}
	}

	&__item-body {
		display: none

		@media $phone {
			padding-left: 20px
			padding-right: 20px
		}
	}
}