.section {
	margin-bottom: 80px

	@media $tablet {
		margin-bottom: 64px
	}

	&__container {
		container()
	}

	&__headline {
		margin-bottom: 64px

		@media $tablet {
			margin-bottom: 56px
		}

		&:last-child {
			margin-bottom: 0
		}
	}

	&__contact {
		margin-bottom: 128px

		@media $tablet {
			margin-bottom: 100px
		}

		@media $phone {
			margin-bottom: 80px
		}
	}


}