.slider-logo {
	background: $neutralColor

	@media $phone {
		border-bottom: 4px solid $brandColor
	}

	&:last-child {
		margin-bottom: 0
	}

	&__container {
		container()
		padding: 80px 0 76px
		border-bottom: 4px solid $brandColor

		@media $tablet {
			padding: 64px 0
		}

		@media $phone {
			border: none
		}
	}

	&__title {
		text-align: center
		margin-bottom: 24px
	}

	//&__slider {
	//	margin: 0 -48px
	//	position: relative
	//
	//	@media $notebook {
	//		margin: 0 -36px
	//	}
	//
	//	@media $smallDesktop {
	//		margin: 0 -22px
	//	}
	//
	//	@media $tablet {
	//		margin: 0 -30px
	//	}
	//
	//	@media $phone {
	//		margin: 0 -20px
	//	}
	//}

	&__bg {
		background: $bgColor
		padding: 24px 24px 40px 24px
	}
	   
	&__slider {
		position: relative;
		margin: 0 calc(-24px - 48px)
		padding: 0 48px

		@media $notebook {
			margin: 0 calc(-24px - 36px)
			padding: 0 36px
		}

		@media $smallDesktop {
			margin: 0 calc(-24px - 24px)
			padding: 0 24px
		}

		@media $phone {
			margin: 0 calc(-24px - 20px)
			padding: 0 20px
		}
	}

	&__slider-inner {
		overflow: hidden
		position: relative

		&:after,
		&:before {
			pointer-events none
			content: ''
			position: absolute
			top: 0
			height: 100%
			width: 109px
			z-index: 5

			@media $phone {
				width: 78px
			}

			@media $phoneSmall {
				width: 69px
			}
		}

		&:before {
			left: -5px
			background: linear-gradient(-90deg,rgba(255,255,255,0),#fff 30%)

			@media $phone {
				background: linear-gradient(-90deg,rgba(255,255,255,0),#fff 22%)
			}
		}

		&:after {
			right: -5px
			background: linear-gradient(90deg,rgba(255,255,255,0),#fff 30%)

			@media $phone {
				background: linear-gradient(90deg,rgba(255,255,255,0),#fff 22%)
			}
		}
	}
	
	 
	&__slider-container {
		overflow: visible
		padding: 0 104px

		@media $phone {
			padding: 0 72px
		}

		@media $phoneSmall {
			padding: 0 60px
		}
	}

	&__slide {
		background: $bgColor
		width: 168px
		height: auto
	}

	&__slider-wrapper {
		height: auto
	}

	&__link {
		display: flex
		justify-content: center
		align-items: center
	}


	&__img {
		display: block
		width: 100%
		height: auto
	}

	&__arrow {
		color: $bgColor
		display: block
		position: absolute
		width: 96px
		height: 96px
		top: 0
		background: $extraColor
		border-radius: 2px
		font-size: 40px
		line-height: 1
		cursor: pointer
		transition: background $duration
		z-index: 10

		@media $smallDesktop {
			width: 80px
			height: 80px
		}

		@media $phone {
			width: 60px
			height: 60px
		}

		&:hover {
			background darken($linkColor, 30%)
			faster()
		}

		@media $tablet {
			top: auto
			bottom: 25%
		}

		&:after {
			content: ''
			display: block
			position: absolute
			top: 0
			bottom: 0
			margin: auto 0
			transform-origin: 50% 50%
			border-left: 2px solid $bgColor
			border-bottom: 2px solid $bgColor
			width: 30px
			height: 30px

			@media $phone {
				width: 20px
				height: 20px
			}
		}

		&_left {
			left: 0

			&:after {
				left: 50%
				margin-left: -6px
				transform: rotate(45deg)

			}
		}

		&_right {
			right: 0

			&:after {
				right: 50%
				margin-right: -6px
				transform: rotate(-135deg)

			}
		}
	}















}