// durations
$duration = 0.35s

// fonts
$fontFamily = 'FuturaNew', Helvetica, sans-serif
$fontSize = 24px
$fontSizeSmall = 18px
$lineHeight = (32/24)

// colors
$bgColor = #fff
$neutralDarkColor =#9b9b9b
$neutralDarkerColor =#7d7d7d
$neutralLightColor =#d9d9d9
$neutralColor =#f7f7f7
$extraColor =#42c9f2
$accentColor =#F76436
$brandColor =#24416f
$textColor = #000
$textLightColor = #fff
$textMagicColor = $brandColor
$linkColor =#42c9f2

// media queries
$notebook = '(max-width 1439px)'
$desktop = '(max-width 1279px)'
$tablet = '(max-width 1023px)'
$phone = '(max-width 767px)'