mixin about(data)
    -data = data || {};

    section.about&attributes(attributes)
        .about__container
            h2.about__title
                | Piter ix

            .about__content-block.about__content-block_underline
                .about__section__column.section__column_6
                    .about__strong
                        |Некоммерческая принговая сеть

                .about__section__column.section__column_6.text
                    p
                        |Обмен трафиком внутри вашего города отныне не потребует существенных затрат.
                    p
                        |PITER-IX позволяет эффективно использовать кроссировки и порты активного оборудования.
