-
    var participants = [
        {
            name: 'Cанкт-перербург',
            caption: 'Участников',
            table: {
                head: [
                    {text: 'Организация'},
                    {text: 'ASN/IP'},
                    {
                        mod: 'center',
                        text: 'RS роутсерверы'
                    },
                    {text: 'ТП пиринговой компании'},
                    {text: 'Контакты'}
                ],
                rows: [
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text: '42149'
                        },
                        {
                            mod: 'existence',
                            text: '-'
                        },
                        {
                            mod: 'caption',
                            text: 'Close'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:info@arbital.ru">info@arbital.ru</a>'
                        }
                    ],
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text:'3267<br> 31.44.186.16'
                        },
                        {
                            mod: 'existence',
                            text: '+'
                        },
                        {
                            mod: 'caption',
                            text: 'Open'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:a.karyakin@s-inform.ru">a.karyakin@s-inform.ru</a>'
                        }
                    ],
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text: '42149'
                        },
                        {
                            mod: 'existence',
                            text: '-'
                        },
                        {
                            mod: 'caption',
                            text: 'Close'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:info@arbital.ru">info@arbital.ru</a>'
                        }
                    ]
                ]
            }
        },
        {
            name: 'Москва',
            caption: 'Участников',
            table: {
                head: [
                    {text: 'Организация'},
                    {text: 'ASN/IP'},
                    {
                        mod: 'center',
                        text: 'RS роутсерверы'
                    },
                    {text: 'ТП пиринговой компании'},
                    {text: 'Контакты'}
                ],
                rows: [
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text: '42149'
                        },
                        {
                            mod: 'existence',
                            text: '-'
                        },
                        {
                            mod: 'caption',
                            text: 'Close'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:info@arbital.ru">info@arbital.ru</a>'
                        }
                    ],
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text:'3267<br> 31.44.186.16'
                        },
                        {
                            mod: 'existence',
                            text: '+'
                        },
                        {
                            mod: 'caption',
                            text: 'Open'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:a.karyakin@s-inform.ru">a.karyakin@s-inform.ru</a>'
                        }
                    ]
                ]
            }
        },
        {
            name: 'Воронеж',
            caption: 'Участников',
            table: {
                head: [
                    {text: 'Организация'},
                    {text: 'ASN/IP'},
                    {
                        mod: 'center',
                        text: 'RS роутсерверы'
                    },
                    {text: 'ТП пиринговой компании'},
                    {text: 'Контакты'}
                ],
                rows: [
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text: '42149'
                        },
                        {
                            mod: 'existence',
                            text: '-'
                        },
                        {
                            mod: 'caption',
                            text: 'Close'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:info@arbital.ru">info@arbital.ru</a>'
                        }
                    ],
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text:'3267<br> 31.44.186.16'
                        },
                        {
                            mod: 'existence',
                            text: '+'
                        },
                        {
                            mod: 'caption',
                            text: 'Open'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:a.karyakin@s-inform.ru">a.karyakin@s-inform.ru</a>'
                        }
                    ]
                ]
            }
        },
        {
            name: 'Орел',
            caption: 'Участников',
            table: {
                head: [
                    {text: 'Организация'},
                    {text: 'ASN/IP'},
                    {
                        mod: 'center',
                        text: 'RS роутсерверы'
                    },
                    {text: 'ТП пиринговой компании'},
                    {text: 'Контакты'}
                ],
                rows: [
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text: '42149'
                        },
                        {
                            mod: 'existence',
                            text: '-'
                        },
                        {
                            mod: 'caption',
                            text: 'Close'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:info@arbital.ru">info@arbital.ru</a>'
                        }
                    ],
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text:'3267<br> 31.44.186.16'
                        },
                        {
                            mod: 'existence',
                            text: '+'
                        },
                        {
                            mod: 'caption',
                            text: 'Open'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:a.karyakin@s-inform.ru">a.karyakin@s-inform.ru</a>'
                        }
                    ]
                ]
            }
        },
        {
            name: 'Самара',
            caption: 'Участников',
            table: {
                head: [
                    {text: 'Организация'},
                    {text: 'ASN/IP'},
                    {
                        mod: 'center',
                        text: 'RS роутсерверы'
                    },
                    {text: 'ТП пиринговой компании'},
                    {text: 'Контакты'}
                ],
                rows: [
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text: '42149'
                        },
                        {
                            mod: 'existence',
                            text: '-'
                        },
                        {
                            mod: 'caption',
                            text: 'Close'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:info@arbital.ru">info@arbital.ru</a>'
                        }
                    ],
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text:'3267<br> 31.44.186.16'
                        },
                        {
                            mod: 'existence',
                            text: '+'
                        },
                        {
                            mod: 'caption',
                            text: 'Open'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:a.karyakin@s-inform.ru">a.karyakin@s-inform.ru</a>'
                        }
                    ]
                ]
            }
        },
        {
            name: 'Саратов',
            caption: 'Участников',
            table: {
                head: [
                    {text: 'Организация'},
                    {text: 'ASN/IP'},
                    {
                        mod: 'center',
                        text: 'RS роутсерверы'
                    },
                    {text: 'ТП пиринговой компании'},
                    {text: 'Контакты'}
                ],
                rows: [
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text: '42149'
                        },
                        {
                            mod: 'existence',
                            text: '-'
                        },
                        {
                            mod: 'caption',
                            text: 'Close'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:info@arbital.ru">info@arbital.ru</a>'
                        }
                    ],
                    [
                        {
                            mod: 'head-mobile',
                            text: 'ServiceTelecom'
                        },
                        {
                            mod: 'caption',
                            text:'3267<br> 31.44.186.16'
                        },
                        {
                            mod: 'existence',
                            text: '+'
                        },
                        {
                            mod: 'caption',
                            text: 'Open'
                        },
                        {
                            mod: 'caption',
                            text: '<a class="link" href="mailto:a.karyakin@s-inform.ru">a.karyakin@s-inform.ru</a>'
                        }
                    ]
                ]
            }
        }
    ]
