-
    var price = {
        priceList: [
            {
                heading: 'Санкт-Петербург и&nbsp;Москва',
                table: {
                    head: [
                        {text: 'Наименование услуги'},
                        {text: 'Разовый платёж'},
                        {text: 'Ежемесячный платёж'}
                    ],
                    rows: [
                        [
                            {
                                mod: 'head-mobile',
                                text:'Первый абонентский порт участника 1/10G на локации'
                            },
                            {
                                text: 'Бесплатно'
                            },
                            {
                                text: '<div>' +
                                    '<a href="#" class="table__link tooltip" data-title="Бесплатно">Бесплатно</a>' +
                                '</div>'
                            }
                        ],
                        [
                            {
                                mod: 'head-mobile',
                                text: 'Второй и последующие порты 1/10G'
                            },
                            {
                                text: '5 000 ₽'
                            },
                            {
                                text: '5 000 ₽'
                            }
                        ],
                        [
                            {
                                mod: 'head-mobile',
                                text: 'Порт 40G'
                            },
                            {
                                text: '30 000 ₽'
                            },
                            {
                                text: '30 000 ₽'
                            }
                        ],
                        [
                            {
                                mod: 'head-mobile',
                                text: 'Порт 100G'
                            },
                            {
                                text: '50 000 ₽'
                            },
                            {
                                text: '50 000 ₽'
                            }
                        ],
                        [
                            {
                                mod: 'head-mobile',
                                text: '<div>' +
                                    '<a href="#" class="table__link tooltip" data-title="Оплачивает инициатор выделения vlan">Выделение отдельного vlan 802.1Q в&nbsp;пределах одной локации</a>' +
                                '</div>',
                            },
                            {
                                text: '500 ₽'
                            },
                            {
                                text: '300 ₽'
                            }
                        ],
                        [
                            {
                                mod: 'head-mobile',
                                text: '<div>' +
                                    '<a href="#" class="table__link tooltip" data-title="Оплачивает инициатор выделения vlan">Выделение отдельного QinQ vlan 802.1ab в&nbsp;пределах одной локации</a>' +
                                '</div>',
                            },
                            {
                                text: '500 ₽'
                            },
                            {
                                text: '500 ₽'
                            }
                        ]
                    ]
                }
            },
            {
                heading: 'Франкфурт',
                table: {
                    head: [
                        {text: 'Наименование услуги'},
                        {text: 'Разовый платёж'},
                        {text: 'Ежемесячный платёж'}
                    ],
                    rows: [
                        [
                            {
                                mod: 'head-mobile',
                                text: 'Первый абонентский порт участника 1/10G на локации'
                            },
                            {
                                text: 'Бесплатно'
                            },
                            {
                                text: '<div>' +
                                '<a href="#" class="table__link tooltip" data-title="Бесплатно">Бесплатно</a>' +
                                '</div>'
                            }
                        ],
                        [
                            {
                                mod: 'head-mobile',
                                text: 'Второй и последующие порты 1/10G'
                            },
                            {
                                text: '5 000 ₽'
                            },
                            {
                                text: '5 000 ₽'
                            }
                        ],
                        [
                            {
                                mod: 'head-mobile',
                                text: 'Порт 40G'
                            },
                            {
                                text: '30 000 ₽'
                            },
                            {
                                text: '30 000 ₽'
                            }
                        ],
                        [
                            {
                                mod: 'head-mobile',
                                text: 'Порт 100G'
                            },
                            {
                                text: '50 000 ₽'
                            },
                            {
                                text: '50 000 ₽'
                            }
                        ],
                        [
                            {
                                mod: 'head-mobile',
                                text: '<div>' +
                                '<a href="#" class="table__link tooltip" data-title="Оплачивает инициатор выделения vlan">Выделение отдельного vlan 802.1Q в&nbsp;пределах одной локации</a>' +
                                '</div>',
                            },
                            {
                                text: '500 ₽'
                            },
                            {
                                text: '300 ₽'
                            }
                        ],
                        [
                            {
                                mod: 'head-mobile',
                                text: '<div>' +
                                '<a href="#" class="table__link tooltip" data-title="Оплачивает инициатор выделения vlan">Выделение отдельного QinQ vlan 802.1ab в&nbsp;пределах одной локации</a>' +
                                '</div>',
                            },
                            {
                                text: '500 ₽'
                            },
                            {
                                text: '500 ₽'
                            }
                        ]
                    ]
                }
            }
        ]
    }