mixin header(data)
    - data = data || {};

    include ../blocks/social.pug
    include ../blocks/menu.pug

    header.header
        .header__container
            .header__contant
                .header__logo
                    img.header__logo-img(src='./images/logo.svg', alt='logo Piter ix')
                .header__mobile-menu
                    .header__mobile-menu-inner
                        .header__top
                            .header__contacts
                                a.header__contact-link.header__contact-link_tel(href='tel:+78126121104') +7 812 612-11-04
                                a.header__contact-link(href='mailto:info@piter-ix.ru') info@piter-ix.ru
                            .header__block
                                .header__lang
                                    a.header__lang-link.header__lang-link_active(href='#') ru
                                    a.header__lang-link(href='#') en
                                .header__social
                                    +social()

                        .header__bottom
                            +menu().menu_header.header__menu
                            .header__block-user
                                a.header__login(href='#', data-open-modal='true', data-type='login')
                                    span.header__login-text Войти
                        i.header__close-mobile
                            i.header__close-mobile-icon
                .header__menu-btn
                    .hamburger
                        .hamburger__inner
